input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.RollDice {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* label input label input */
    column-gap: 10;
    row-gap: 15px;
    align-items: center;
}

.RollDice input {
    width: 100%;
    box-sizing: border-box;
}


.RollDice button {
    width: 15em;
    padding: 1.5em;
    border: 0px;
    border-radius: 10px;
    color: white;
    background-color: black;
    margin-top: 3em;
    align-self: left;
}

.RollDice button:hover {
    cursor: pointer;
    background-color: rgb(34, 33, 33);
}

.RollDice-rolling {
    border: 0px;
    border-radius: 10px;
    background-color: darkslateblue !important;
    opacity: 0.7
}

